@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

html{
    width: 100%;
}

body{
    width: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(../img/photo_6.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    color: #ffffff;
    padding: 20px;
}

.submenu{
    display: none;
    font-size: 1.2rem;
    font-weight: 400;
}

.mainmenu:hover .submenu{
    display: block;
}

.mainmenu{
    font-weight: 700;
}

.nav{
    display: flex;
    justify-content: center;
    padding-top: 30%;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    /* 화면 너비가 768px 이하인 경우에만 적용되는 스타일 */

    .nav{
        padding-top: 10%;
    }

  }